.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @media #{$media-size-tablet} {
    max-width: 600px;
  }

  &-date {
    &:after {
      content: '—';
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 20px;

    @media #{$media-size-phone} {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
    a {
      text-decoration: none;
      background-image: linear-gradient(120deg, #e96443 0%, #904e95 100%);
      background-repeat: no-repeat;
      background-size: 0 0;
      background-position: 100% 21%;
      transition: 0.15s ease-out;
      &::after {
        position: relative;
        content: "\FEFF°";
        margin-left: 0.10em;
        font-size: 90%;
        top: -0.10em;
        color: #BD596C;
        font-feature-settings: "caps";
        font-variant-numeric: normal;
      }
      &:hover {
          &::after {
            color: #904e95;
          }
        background-size: 100% 100%;
        color: #fff;
      }
    }
    .footnote-ref {
      background-size: 100% 0.5em;
      background-position: 0 150%;
      &::after {
        content: "";
      }
      &:hover {
        background-size: 100% 100%;
        color: #fff;
      }
    }
    .footnote-backref {
      background-size: 100% 0.5em;
      background-position: 0 150%;
      &::after {
        content: "";
      }
      &:hover {
        background-size: 100% 100%;
        color: #fff;
      }
    }
  }

  &-cover {
    border-radius: 8px;
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;

    @media #{$media-size-tablet} {
      margin: 20px 0;
      width: 100%;
    }
  }

  &-info {
    margin-top: 30px;
    font-size: .8rem;
    line-height: normal;
    @include dimmed;

    p {
      margin: .8em 0;
    }

    a:hover {
      border-bottom: 1px solid white;
    }

    svg {
      margin-right: .8em;
    }

    .tag {
      margin-right: .5em;

      &::before {
        content: "#"
      }
    }

    .feather {
      display: inline-block;
      vertical-align: -.125em;
      width: 1em;
      height: 1em;
    }
  }

  .flag {
    border-radius: 50%;
    margin: 0 5px;
  }
}
.post-pol {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @media #{$media-size-tablet} {
    max-width: 600px;
  }

  &-date {
  font-family: "Alegreya";
    &:after {
      content: '—';
    }
  }

  &-title {
  font-family: "Alegreya";
    font-size: 2.625rem;
    margin: 0 0 20px;

    @media #{$media-size-phone} {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    font-family: "Alegreya";
    font-size: 1.3rem;
    text-decoration: bold;
    text-indent: 40px;
    margin-top: 30px;
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    a {
      text-decoration: none;
      background-image: linear-gradient(120deg, #e96443 0%, #904e95 100%);
      background-repeat: no-repeat;
      background-size: 0 0;
      background-position: 100% 21%;
      transition: 0.15s ease-out;
      &::after {
        position: relative;
        content: "\FEFF°";
        margin-left: 0.10em;
        font-size: 90%;
        top: -0.10em;
        color: #BD596C;
        font-feature-settings: "caps";
        font-variant-numeric: normal;
      }
      &:hover {
          &::after {
            color: #904e95;
          }
        background-size: 100% 100%;
        color: #fff;
      }
    }
    .footnote-ref {
      background-size: 100% 0.5em;
      background-position: 0 150%;
      &::after {
        content: "";
      }
      &:hover {
        background-size: 100% 100%;
        color: #fff;
      }
    }
    .footnote-backref {
      background-size: 100% 0.5em;
      background-position: 0 150%;
      &::after {
        content: "";
      }
      &:hover {
        background-size: 100% 100%;
        color: #fff;
      }
    }
    .footnotes {
      text-indent: 0px;
    }
    @media #{$media-size-tablet} {
      text-indent: 35px;
    }
    @media #{$media-size-phone} {
      text-indent: 25px;
    }
  }

  &-cover {
    border-radius: 8px;
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;

    @media #{$media-size-tablet} {
      margin: 20px 0;
      width: 100%;
    }
  }

  &-info {
    margin-top: 30px;
    font-size: .8rem;
    line-height: normal;
    @include dimmed;

    p {
      margin: .8em 0;
    }

    svg {
      margin-right: .8em;
    }

    .tag {
      margin-right: .5em;

      &::before {
        content: "#"
      }
    }

    .feather {
      display: inline-block;
      vertical-align: -.125em;
      width: 1em;
      height: 1em;
    }
  }

  .flag {
    border-radius: 50%;
    margin: 0 5px;
  }
}

.image {
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    &::after {
      display: none;
    }
    &:hover {
      &::after {
        display: none;
      }
    }
  }
}

.pagination {
  margin-top: 20px;

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 30px 0 20px;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      background: $light-background;
      color: $light-color-secondary;
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .1em;
      z-index: 1;

      .dark-theme & {
        background: $dark-background;
        color: $dark-color-secondary;
      }
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 15px;
      z-index: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $light-background-secondary;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  max-width: 40%;
  padding: 0;
  cursor: pointer;
  appearance: none;

  .dark-theme & {
    background: $dark-background-secondary;
  }

  + .button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: 8px;
  }

  &.previous .button__icon {
    margin-right: 8px;
  }
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    padding: .5px;
    justify-content: center;
    background: $light-background-secondary;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 8px;

    .dark-theme & {
        background: $dark-background-secondary;
    }
}
