<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=hs67iUXpl4">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=hs67iUXpl4">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=hs67iUXpl4">
<link rel="manifest" href="/site.webmanifest?v=hs67iUXpl4">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=hs67iUXpl4" color="#ffffff">
<link rel="shortcut icon" href="/favicon.ico?v=hs67iUXpl4">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">