<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span>&copy; {{ now.Format "2006" }}</span>
            <span>{{ .Site.Copyright| safeHTML }}</span>
            <span>{{- with (not (in (.Site.Language.Get "disableKinds") "RSS")) }} <a href="{{ "posts/index.xml" | absLangURL }}" target="_blank" title="rss"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>{{ end }}</span>
        </div>
    </div>
    <div class="footer__inner">
        <div class="footer__content">
            <span>Made with &#9749; and <a href="https://gohugo.io/" target="_blank">Hugo</a> by <a href="https://t.me/neroichi">James Silaban</a></span>
        </div>
    </div>
</footer>
